.additionalBlock {
    position:  absolute;
    top: 140px;
    left: 1050px;
    grid-area: additionalBlock;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: table;
    border-radius: 8px;
}

.newsItem {
    margin-bottom: 38px
}

.title {
    position: relative;
    left: 20px;
    ;
    color:rgb(139, 139, 139)
}

.name {
    position: relative;
    top: 5px;
    left: 20px;
    font-size: .75rem;
    color: rgb(138, 138, 138) 
}

.describtion {
    position: relative;
    background-color: white;
    color:rgb(0, 0, 0);
    left: 20px;
    font-size: .9rem;
    font-weight:  bolder;
    width: 300px;
    cursor: pointer;
}

.describtion:hover {
    text-decoration: underline;
}

.anchor {
    text-decoration: none;
}