.content {
    grid-area: content;
    position: relative;
    top: 65px;
    z-index: 1;
}

.newsCard {
    background-color: white;
    position: relative;
    width: 720px;
    display: table;
    margin-bottom: 30px;
    border-radius: 6px;
    cursor: pointer;
}

.anchor {
    text-decoration: none;
    color: black
}

.title {
    background-color: white;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 6px;
    max-width: 500px;
    transition: .3s;
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;

}

.publishedAt {
    position: relative;
    top: 30px;
    left: 30px;
    background-color: white;
    color: rgb(138, 138, 138);
    font-size: 0.8rem;
    border-radius: 6px;
    user-select: none;
}

.sourceName {
    position: relative;
    list-style-type: circle;
    left: 20px;
    top: 30px;
    background-color: white;
    color: rgb(138, 138, 138);
    font-size: 0.8rem;
    border-radius: 6px;
    user-select: none;
}

.describtion {
    position: relative;
    background-color: white;
    margin-top: 80px;
    margin-bottom: 20px;
    left: 20px;
    max-width: 500px;
}

.img {
    position: absolute;
    top: 20px;
    left: 550px;
    border-radius: 6px;
    width: 150px;
    height: 90px;
    background-color: white;
}