.header {
    position: fixed;
    opacity: 0.6;
    grid-area: header;
    z-index: 2;
    background-color: white;
    height: 65px;
    width: 100%;
}


.title {
    position: absolute;
    top: 0px;
    left: 75px;
    background-color: white;
    cursor: pointer;
}


.icon {
    position: absolute;
    background-color: white;
    top: 18px;
    left: 40px;
    cursor: pointer;
}